.Name{
    margin-left: 20%;
    margin-right: 27%;
    margin-top: 75px;
    margin-bottom: 10px;
}
.AddPharmacy{
    margin-left: 27%;
    margin-right: 27%;
    background-color: whitesmoke;
    margin-top: 100px;
    border-radius: 10px;
    text-align: left;
    padding-top: 20px;
}
.rowContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myRow{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    margin-bottom: 5px;
    text-align: left;
}

.buttonBlock{
    text-align: center;
}

.text-center
{
    padding-bottom: 20px;
}

.buttonBlock{
   
    font-weight: bold;
   
}
.img-responsive{
    background-size: 100 100;
}