.signUpBlock{
    margin-left: 30%;
    margin-right: 30%;
    background-color: whitesmoke;
    margin-top: 100px;
    border-radius: 10px;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
   
    
}
.signUp{
    margin-top: 20px;
   
    
}
.myRow{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    text-align: left;
}
.heading{
    font-size: 15px;
    font-weight: normal;
}
.buttonBlock{
    text-align: center;
    border-radius: 5px;
}
.text-center
{
    padding-bottom: 20px;
}
#label_size
{
    font-size: 25px;
    padding-left: 25px;
}
/* ============================== */
.option {
    transition: background 0.2s, color 0.2s;
  }
  .option:hover,
  .option:focus {
    text-decoration: none;
  }
  
  #wrapper {
    margin-left: 280px;
    margin-right: 30px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
  
  }
  
  #sidebar-wrapper {
    margin-top: 50px;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #222;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  
  .sidebar-brand {
    position: absolute;
    top: 0;
    width: 250px;
    text-align: center;
    padding: 20px 0;
  }
  .sidebar-brand h2 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
  }
  
  .sidebar-nav {
    position: absolute;
    top: 20px;
    width: 250px;
    margin: 0; 
  }