<div class="container-fluid">
  <div class="signUpBlock">
      <p id="label_size"> <b>Admin / </b> Order Stock </p>
      <form action="" ngNativeValidate (ngSubmit)="handleSubmit()">
          <div class="m-4">
              <div class="row myRow" >
                  <div class="col-md-6">
                      <h6 class="heading">Manufacturer</h6>
                    <select [(ngModel)]="manufacturerId" [disabled]="disabledValue" [ngModelOptions]="{standalone:true}" (change)="setShipper_and_Product()" class="form-select" aria-label="Default select example" id="manufacturer-id">
                      <option *ngFor="let manufacturer of manufacturers" [ngValue]="manufacturer._id">{{manufacturer.name}}</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                      <h6 class="heading">Shipper</h6>
                      <select [(ngModel)]="shipperId" [disabled]="disabledValue" [ngModelOptions]="{standalone:true}" class="form-select" aria-label="Default select example" id="manufacturer-id">
                        <option *ngFor="let shipper of selectedShipper" [ngValue]="shipper._id">{{shipper.name}}</option>
                      </select>
                  </div>
              </div>
              <div class="row myRow" >
                  <div class="col-md-6">
                      <h6 class="heading">Product</h6>
                      <select [(ngModel)]="productId" [ngModelOptions]="{standalone:true}" class="form-select" aria-label="Default select example" id="manufacturer-id">
                        <option *ngFor="let product of selectedProduct" [ngValue]="product._id">{{product.category.Name + " " + product.name + " " + product.strength}}</option>
                      </select>
                  </div>
                  <div class="col-md-6">
                    <h6 class="heading">Quantity</h6>
                    <input [(ngModel)]="quantity" [ngModelOptions]="{standalone:true}" type="text" class="form-control" id="exampleInputaddress" aria-describedby="addressHelp" placeholder="Enter Quantity" required>
                </div>
              </div>

              <div class="row myRow" >
                  <div class="col-md-12 buttonBlock">
                    <button class="btn btn-outline-primary mt-4 mb-4">Add</button>
                  </div>
              </div>
          </div>
      </form>
      <div class="orderStock">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Manufacturer</th>
              <th scope="col">Shipper</th>
              <th scope="col">Product</th>
              <th scope="col">Quantity</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of orderProduct" >
              <td>{{product.manufacturerName}}</td>
              <td>{{product.shipperName}}</td>
              <td>{{product.productCategory + " " + product.productName + " " + product.productStrength}}</td>
              <td>{{product.quantity}}</td>
              <input type="button" (click) = "deleteProduct(product.productId)" value = "Delete" class = "btn btn-outline-danger">
              <input type="button" (click) = "setProductValues(product.productId,product.quantity)" data-toggle="modal" data-target="#updateModal" value = "Update" class = "btn btn-outline-primary">
            </tr>
          </tbody>
        </table>


      </div>
      <form action="" ngNativeValidate (ngSubmit)="placeOrder()">
      <div class="row myRow" >
        <div class="col-md-12 buttonBlock">
          <button class="btn btn-outline-primary mt-4 mb-4">Confirm Order</button>
        </div>
    </div>
  </form>
  </div>

</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Edit Stock Order</h4>
          </div>
          <form action="" ngNativeValidate (ngSubmit)="updateProduct()">
              <div class="modal-body">
            <div class=" form-group">
              <label class="focus-label">Quantity</label>
              <input [(ngModel)]="updatedquantity" [ngModelOptions]="{standalone:true}" type="text" class="form-control" id="InputQuantity" aria-describedby="addressHelp" placeholder="Enter Quantity">
          </div>
            </div>
              <div class="modal-footer">
                  <button type="submit" name="savedata" id="sub-button" class="btn btn-primary">Save changes</button>
              </div>
          </form>
      </div>
  </div>
</div>




