<div id="wrapper">

    <aside id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="active">
          <div routerLink="add-employee" class="option"><i class="fas fa-user-plus"></i>Add Employee</div>
        </li>
        <li class="active">
          <div routerLink="view-employee" class="option"><i class="fa fa-user"></i>View Employee</div>
        </li>

        <li>
          <div routerLink="add-product" class="option"> <i class="fas fa-capsules"></i>Add Product</div>
        </li>
        <li>
          <div routerLink="edit-product" class="option"> <i class="fas fa-file-medical"></i>View Product</div>
        </li>
        <li>
          <div routerLink="add-manufacturer" class="option"> <i class="fas fa-address-book"></i>Add Manufacturer</div>
        </li>
        <li>
            <div routerLink="edit-manufacturer" class="option"> <i class="fas fa-address-card"></i>View Manufacturer</div>
          </li>
          <li>
            <div routerLink="add-shipper" class="option"> <i class="fas fa-id-badge"></i>Add Shipper</div>
          </li>
          <li>
            <div routerLink="edit-shipper" class="option"> <i class="fas fa-id-card"></i>View Shipper</div>
          </li>
          <li>
            <div routerLink="add-loan" class="option"> <i class="fas fa-coins "></i>Request Loan</div>
          </li>
          <li>
            <div routerLink="stock-details" class="option"> <i class="fas fa-file-invoice-dollar"></i>Stock Detail</div>
          </li>
          <li>
            <div routerLink="order-stock" class="option"> <i class="fas fa-cart-plus"></i>Order Stock</div>
          </li>
          <li>
            <div routerLink="receive-stock" class="option"> <i class="fas fa-cart-arrow-down"></i>Recieve Order</div>
          </li>
          <li>
            <div routerLink="add-category" class="option"> <i class="fas fa-book"></i>Add Category</div>
          </li>
          <li>
            <div routerLink="" class="option"> <i class="fas fa-user"></i>Log Out</div>
          </li>
        <!-- <li>
          <a href="#"><i class="fa fa-plug"></i>Plugins</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-user"></i>Users</a>
        </li> -->
      </ul>
    </aside>
  
    <div id="navbar-wrapper">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <!-- <img class="img-fluid" src="../../assets/images/logo.png" alt=""> -->
            <!-- <h5>School Management System</h5> -->
            <!-- <button href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></button> -->
            <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
          </div>
        </div>
      </nav>
    </div>
  
    <section id="content-wrapper">
      <!-- <app-login-page *ngIf="isShown" ></app-login-page> -->
      <!-- <div class="row">
          <div class="col-lg-12">
            <h2 class="content-title">Test</h2>
            <p>Lorem ipsum...</p>
          </div>
        </div> -->
    </section>
  
  </div>